<h1>{{title}}</h1>
<form action="/api/jokes/addjoke" method="POST">
  <input type="text" placeholder="add a joke" name="joke">
  <button type="submit">Add joke</button>
</form>
<a href="/api/jokes">Home</a>